spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/
    username: 
    password: 

  cors:
    allowed-origins:

jpa:
  hibernate:
    ddl-auto: validate
    show_sql: true
    highlight_sql: true
